{% extends "layout.html" %}

{% block title %}
    HISTORY
{% endblock %}

{% block main %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope= "col">TYPE </th>
                <th scope= "col">SYMBOL </th>
                <th scope= "col">SHARES </th>
                <th scope= "col">PRICE </th>
                <th scope= "col">TRANSACTION TIME </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
             <tr>
                 <td> {{ transaction["type"].upper() }} </td>
                 <td> {{ transaction["symbol"] }} </td>
                 <td> {{ transaction["shares"] }} </td>
                 <td> {{ usd(transaction["price"]) }} </td>
                 <td> {{ transaction["time"] }} </td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
    
{% endblock %}